In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

import os
from IPython.display import Image
from IPython.core.display import display, HTML

In [6]:
os.chdir(r"C:\Users\kah32\Documents\GitHub\predicting-highered-retention")

import college_data
college = college_data.college

#college = pd.read_csv('data/college.csv', encoding='latin_1')
#college = college.set_index('UNITID')
#college.to_csv('data/college.csv')
college.reset_index(inplace=True)
college.drop_duplicates(subset = "UNITID", inplace=True)
college = college.set_index("UNITID")
college.head()

,name,address,city,state,zipcode,highest_level_offered,HBCU,locale,category,county,...,total_aid_awarded,num_pell_grants,total_pell_grants,num_students_receiving_aid_state_local,total_state_local_aid_awarded,num_students_receiving_institutional_aid,total_institutional_aid_awarded,num_students_loans,total_loans_awarded,total_scholarships_awarded
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,9,1,City: Midsize,2,Madison County,...,42706297.0,3561.0,17821852.0,62.0,451452.0,870.0,7181757.0,922.0,5925868.0,5154738.0
100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,9,2,City: Midsize,2,Jefferson County,...,68096492.0,4770.0,24210267.0,42.0,78664.0,1710.0,13472311.0,1217.0,8524367.0,12752510.0
100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,9,2,City: Midsize,2,Montgomery County,...,1182194.0,244.0,783044.0,3.0,1290.0,5.0,9800.0,5.0,21749.0,NaN
100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,9,2,City: Midsize,2,Madison County,...,41059715.0,1913.0,8194441.0,12.0,36056.0,1104.0,11733270.0,621.0,3911265.0,7183827.0
100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,9,1,City: Midsize,2,Montgomery County,...,31359053.0,3134.0,14141019.0,72.0,740777.0,393.0,2942281.0,720.0,4830461.0,4413236.0

In [ ]:
#college['category'].value_counts()
#college = college[college['category'] == 6]

In [3]:
college_str = college[['name', 'address', 'city', 'state', 'zipcode', 'highest_level_offered', 'HBCU', 'locale', 'category', 'county', 'category_desc']].copy()
college_num = college[map(lambda x: x not in college_str.columns, list(college.columns))].copy()
for col in college_num.columns:
    college_num[col] = pd.to_numeric(college_num[col])
    #college_num[col].fillna(np.mean(college_num[col]), inplace=True)
    college_num[col].fillna(college_num[col].median(), inplace=True)

college = college_str.join(college_num, on='UNITID', how='left')
college_num.head()

,longitude,latitude,room_cost,board_cost,application_fee,in_tuition,in_fees,out_tuition,out_fees,EFFYLEV,...,total_aid_awarded,num_pell_grants,total_pell_grants,num_students_receiving_aid_state_local,total_state_local_aid_awarded,num_students_receiving_institutional_aid,total_institutional_aid_awarded,num_students_loans,total_loans_awarded,total_scholarships_awarded
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,-86.568502,34.783368,3682.0,3728.0,30.0,8610.0,1134.0,17220.0,1134.0,2.0,...,42706297.0,3561.0,17821852.0,62.0,451452.0,870.0,7181757.0,922.0,5925868.0,5154738.0
100663,-86.799345,33.505697,7532.0,4150.0,30.0,8568.0,0.0,19704.0,0.0,2.0,...,68096492.0,4770.0,24210267.0,42.0,78664.0,1710.0,13472311.0,1217.0,8524367.0,12752510.0
100690,-86.174010,32.362609,0.0,0.0,50.0,9000.0,900.0,9000.0,900.0,2.0,...,1182194.0,244.0,783044.0,3.0,1290.0,5.0,9800.0,5.0,21749.0,1688138.0
100706,-86.640449,34.724557,0.0,0.0,30.0,9730.0,984.0,21378.0,984.0,2.0,...,41059715.0,1913.0,8194441.0,12.0,36056.0,1104.0,11733270.0,621.0,3911265.0,7183827.0
100724,-86.295677,32.364317,3346.0,2076.0,25.0,8328.0,2740.0,16656.0,2740.0,2.0,...,31359053.0,3134.0,14141019.0,72.0,740777.0,393.0,2942281.0,720.0,4830461.0,4413236.0

In [4]:
college_num['total_in_tuition_fees'] = college['in_tuition'] + college['in_fees']
college_num['total_out_tuition_fees'] = college['out_tuition'] + college['out_fees']

college.head()

,name,address,city,state,zipcode,highest_level_offered,HBCU,locale,category,county,...,total_aid_awarded,num_pell_grants,total_pell_grants,num_students_receiving_aid_state_local,total_state_local_aid_awarded,num_students_receiving_institutional_aid,total_institutional_aid_awarded,num_students_loans,total_loans_awarded,total_scholarships_awarded
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,9,1,City: Midsize,2,Madison County,...,42706297.0,3561.0,17821852.0,62.0,451452.0,870.0,7181757.0,922.0,5925868.0,5154738.0
100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,9,2,City: Midsize,2,Jefferson County,...,68096492.0,4770.0,24210267.0,42.0,78664.0,1710.0,13472311.0,1217.0,8524367.0,12752510.0
100690,Amridge University,1200 Taylor Rd,Montgomery,AL,36117-3553,9,2,City: Midsize,2,Montgomery County,...,1182194.0,244.0,783044.0,3.0,1290.0,5.0,9800.0,5.0,21749.0,1688138.0
100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,9,2,City: Midsize,2,Madison County,...,41059715.0,1913.0,8194441.0,12.0,36056.0,1104.0,11733270.0,621.0,3911265.0,7183827.0
100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,9,1,City: Midsize,2,Montgomery County,...,31359053.0,3134.0,14141019.0,72.0,740777.0,393.0,2942281.0,720.0,4830461.0,4413236.0

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_score

from collections import defaultdict


from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge, Lasso, BayesianRidge
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor

In [34]:
target = 'retention'

y = college_num[target]
x = college_num.drop(columns=[target], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
    
names_reg = ["Linear Regression", "Ridge Regression", "Lasso Regression", "Random Forest Regressor", 
             "GradientBoost", "Bayesian Ridge"]

regressors = [
        LinearRegression(),
        Ridge(),
        Lasso(),
        RandomForestRegressor(),
        GradientBoostingRegressor(),
        BayesianRidge(),
    ]

#mse_list = []
rmse_list = []
mae_list = []
#r2_list = []

results = defaultdict(int)
    
    #runs our models in a loop and pushed them to a pandas dataframe
for n, r in zip(names_reg, regressors):
    model = r.fit(x_train, y_train)
    results[n] = model.score(x_test, y_test)
    results_df = pd.DataFrame.from_dict(results, orient='index', dtype='float', columns=['R Squared'])
    
    #preds = model.predict(x_test)
    #mse = np.sqrt(mean_squared_error(y_test,preds))
    #mse_list.append(mse)
    
    scores = cross_val_score(model, x_train, y_train, cv=3, scoring='neg_mean_squared_error')
    #mse = np.mean(-scores)
    #mse_list.append(mse)
    rmse = np.mean(np.sqrt(-scores))
    rmse_list.append(rmse)
    #r2_list.append(scores.mean())
    
    scores = cross_val_score(model, x_train, y_train, cv=3, scoring='neg_mean_absolute_error')
    mae = np.mean(scores)
    mae_list.append(-mae)
        

#results_df['MSE'] = mse_list
results_df['RMSE'] = rmse_list
results_df['MAE'] = mae_list
#results_df['R2CVS'] = r2_list
results_df.sort_values(by=['R Squared'], ascending=False)

C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.11469e-19): result may not be accurate.
  overwrite_a=True).T
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.687e-19): result may not be accurate.
  overwrite_a=True).T
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.70838e-19): result may not be accurate.
  overwrite_a=True).T
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.62236e-19): result may not be accurate.
  overwrite_a=True).T
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.687e-19): result may not be accurate.
  overwrite_a=True).T
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.70838e-19): result may not be accurate.
  overwrite_a=True).T
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.62236e-19): result may not be accurate.
  overwrite_a=True).T
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 521473.45286695246, tolerance: 116.3741293602834
  positive)
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 361159.33444772876, tolerance: 79.84894266958423
  positive)
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 327015.7621927319, tolerance: 74.29358730853392
  positive)
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 351436.6761193532, tolerance: 78.60447496874997
  positive)
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 361159.33444772876, tolerance: 79.84894266958423
  positive)
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 327015.7621927319, tolerance: 74.29358730853392
  positive)
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 351436.6761193532, tolerance: 78.60447496874997
  positive)
C:\Users\kah32\Anaconda3\envs\mlenv\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                         R Squared       RMSE        MAE
GradientBoost             0.214063  14.407553   9.450217
Random Forest Regressor   0.175729  14.817845   9.704448
Linear Regression         0.131465  14.907771  10.111950
Ridge Regression          0.131465  14.907772  10.111949
Lasso Regression          0.119956  14.989166  10.189276
Bayesian Ridge            0.098991  14.947471  10.230546

In [27]:
college['retention'].describe().to_frame()

         retention
count  6857.000000
mean     70.925623
std      15.630721
min       0.000000
25%      64.000000
50%      72.000000
75%      79.000000
max     100.000000

In [ ]:
results_df.nlargest(1, 'R^2 Score')

In [35]:
target = 'retention'

y = college_num[target]
x = college_num.drop(columns=[target], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

model = GradientBoostingRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

preds = model.predict(x)

In [ ]:
df = x.copy()
df = df.join(college['name'], on='UNITID')
df = df.join(college['retention'], on='UNITID')
df['predicted_retention'] = preds
df['diff'] = df['retention'] - df['predicted_retention']
df[['name', 'retention', 'predicted_retention', 'diff']]#.to_csv('data/output.csv')
#df['diff'].mean()

In [ ]:
college = college_str.merge(df, on='UNITID', how='right')
#college.head()
college[['name_x', 'city', 'state', 'locale', 'longitude', 'latitude', 'retention', 'predicted_retention', 'diff']]#.to_csv('data/retention.csv')

In [ ]:
locale = college[['locale', 'retention']].groupby(['locale']).mean()
locale['average_retention'] = np.mean(college['retention'])
locale['error'] = locale['retention'] - locale['average_retention']
np.mean(locale['error'])
locale = locale.reset_index()

plt.figure(figsize=(20, 10))
sb.barplot(data=locale, x = 'locale', y = 'error')

In [ ]:
sb.set()
plt.figure(figsize=(20, 15))
#sb.scatterplot(data=college, y = 'num_students_receiving_institutional_aid', x = 'retention', alpha=0.5)
#sb.boxplot(data=college, x = 'locale', y = 'retention')
sb.scatterplot(data=college, y = 'num_students_financial_aid', x = 'retention')

In [ ]:
plt.figure(figsize=(20, 15))
sb.scatterplot(data=college, x = 'out_tuition', y = 'retention')

In [ ]:
plt.figure(figsize=(20, 15))
#plt.xlim(0,400)
plt.ylim(0,5000)
sb.scatterplot(data=college, y = 'num_students_loans', x = 'retention')

In [ ]:
plt.figure(figsize=(16, 10))
a = sb.regplot(x="out_tuition", y="retention", data=college, fit_reg=True)